{% extends "base.html" %}
{% block header %}
{{ block.super }}
<div class="flex justify-center text-center items-center py-6 mb-3 mx-auto bg-gradient-to-b from-indigo-900 to-indigo-700 text-white w-full">
  <div>
    <h1 class="text-5xl mb-6">Conduit</h1>
    <p class="text-2xl">A place to share your knowledge.</p>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="md:grid grid-cols-3 gap-4">
  <div class="col-span-2">
    {% for article in articles.object_list %}
    {% include "articles/_article.html" %}
    {% endfor %}
    {% include "_pagination.html" with page_obj=articles %}
  </div>

  <div class="hidden md:block col-span-1">
    <h2 class="text-lg mb-3 font-semibold">Popular tags</h2>
    <div class="word-break p-3 rounded border">
      {% for tag in tags %}
      {% if tag.name == selected_tag %}
      <span class="px-4 py-1 bg-indigo-800 text-white rounded mr-2">#{{ tag }}</span>
      {% else %}
      <a href="{{ request.path }}?tag={{ tag.name }}"
         class="px-4 py-1 bg-gray-100 rounded mr-2">#{{ tag }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
{% endblock content %}
