{% extends "base.html" %}
{% block header %}
{{ block.super }}
<div class="flex justify-center text-center items-center py-6 mb-3 mx-auto bg-gradient-to-b from-indigo-900 to-indigo-700 text-white w-full">
  <div>
    <h1 class="text-5xl mb-6">Conduit</h1>
    <p class="text-2xl">A place to share your knowledge.</p>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="md:grid grid-cols-3 gap-4">
  <div class="col-span-2">
    {% for article in page_obj.object_list %}
    <div class="border-b pb-3 mb-3">

      <div class="flex items-center justify-between mb-3">
        <div class="">
          <div class="mb-1">
            <a class="font-semibold text-lg text-blue-800 hover:text-blue-600"
               href="">{{ article.author }}</a>
          </div>
          <div class="text-gray-500 text-sm">{{ article.created|date }}</div>
        </div>
        <div>
          <button class="rounded border p-2 text-sm">
            <i class="fa fa-heart mr-1"></i> 3
          </button>
        </div>
      </div>
      <div class="mb-3">
        <div class="text-xl font-bold mb-1">
          {{ article.title }}
        </div>
        <div class="text-sm text-gray-500 mb-3">
          {{ article.description|truncatechars:100 }}
        </div>
        <a href="{{ article.get_absolute_url }}"
           class="text-sm text-blue-800 hover:text-blue-600">Read more...</a>
      </div>
    </div>
    {% endfor %}
    {% include "_pagination.html" %}
  </div>

  <div class="hidden md:block col-span-1">
    popular tags here...
  </div>

</div>
{% endblock content %}
