{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="flex justify-center items-center">
  <div class="w-full lg:w-2/3">

    <form data-controller="form"
          data-action="form#submit"
          class="rounded border bg-white mb-3"
          method="post"
          enctype="multipart/form-data"
          action="{{ request.path }}">
      {% include "_form_errors.html" with errors=form.non_field_errors %}
      {% csrf_token %}
      {% with WIDGET_ERROR_CLASS="text-red-800" widget_class="appearance-none text-lg rounded p-3 border w-full" %}
      <div class="p-3 mb-3">
        <div class="mb-3">
          {% render_field form.name class=widget_class placeholder=form.name.label %}
          {% include "_form_errors.html" with errors=form.name.errors %}
        </div>
        <div class="mb-3">
          {% render_field form.image class=widget_class placeholder=form.image.label accept="image/*" %}
          {% include "_form_errors.html" with errors=form.image.errors %}
        </div>
        <div class="mb-3">
          {% render_field form.bio class=widget_class placeholder=form.bio.label %}
          {% include "_form_errors.html" with errors=form.bio.errors %}
        </div>
      </div>

      {% endwith %}
      <div class="flex bg-gray-100 rounded-b-lg border border-t-none p-3 justify-end items-center">
        <button type="submit"
                class="px-4 py-2 rounded bg-blue-800 text-white hover:bg-blue-600">Save Settings</button>
      </div>

    </form>
  </div>
</div>

{% endblock content %}
